@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.akannames {
    width: 100vw;
    height: 100vh;
    background-image: url(../IMAGES/trixxie.jpeg);
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;


}
.akannames h1 {
    font-size: 70px;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-left: 5px;
}
.pp1 {
   position: absolute;
   top: 20%;
   left: 30%;
   width: 40vw;
   height: 50vh;
   background-color: rgba(0, 0, 0, 0.6);
   color: white;
   overflow: hidden;

}
.description h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    letter-spacing: 3px;
    

}
.description h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
    padding: 3px 9px;   
}
.description p {
    font-size: 20px;
    font-style: oblique;
    line-height: 30px;
    padding: 3px 10px;
    text-align: justify;
}
.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
