@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fredericka the Great', cursive;  
}
.akannames {
    width: 100vw;
    height: 100vh;
    background-image: url(../IMAGES/trixxie.jpeg);
    background-size: cover;
    color: white;
    display: flex;

}
.akannames {
    font-size: 40px;
    position: relative;
}