@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500;1,700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lora', serif;
}
.akannames {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: cover;
    color: black;
    display: flex;
    flex-direction: column;
    
}
.box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: white;
    margin: 10px;
    background-image: url(../IMAGES/4464710004_a970ba7f43_z.jpg);
    background-size: contain;

}
.akannames h1 {
    font-size: 70px;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-left: 5px;
    
}
.pp1 {
   position: absolute;
   top: 20%;
   left: 30%;
   width: 40vw;
   height: 60vh;
   background-color: rgba(0, 0, 0, 0.6);
   color: white;
   overflow: hidden;
  

}
.pp1:hover {
    box-shadow: 5px 5px 5px rgba(141, 16, 16, 0.808);
}



.description h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    letter-spacing: 3px;
    

}
.description h2 {
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
    padding: 3px 9px;   
}
.description p {
    font-size: 20px;
    font-style: oblique;
    line-height: 30px;
    padding: 3px 10px;
    text-align: justify;
}
.date {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date p{
margin: 10px;
}
.button  {
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 15px;
}
.button:hover {
    background-color: black;
    color: white;
}
.alert {
    font-size: 30px;
    color: antiquewhite;


}